{{ define "main" }}
{{ $currentPage := . }}
{{ $item := "" }}
{{ $comments := slice }}
{{ if .Params.id }}
  {{ $items := (where $.Site.Data.comments.channel.item "post_id" (string .Params.id)) }}
  {{ $item = index $items 0 }}
  {{ with $item }}
    {{ with .comment}}
        {{ if reflect.IsMap . }}
          {{ $comments = slice . }}
        {{ else if reflect.IsSlice . }}
          {{ $comments = . }}
        {{ else }}
          <h1>Comments busted?</h1>
        {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
  <article class="w-100 ph4 pb5 pb6-ns pt1 pt3-ns">
    <div class="flex-l">

      <div class="order-2 w-100 w-20-l ph5-m ph0-l mb4">
        <aside class="fixed-lTK right-0 f6 bl-l w-20 b--moon-gray pv4 pv0-ns ph4-l nested-list-reset nested-links nested-copy-line-height sticky sticky-r">
          {{- if or .PrevInSection .NextInSection -}}
          <div date-pref>
            {{if .PrevInSection}}
              <a href="{{ .PrevInSection.Permalink }}" class="tr fr w-50 dib pa2 f6 pr1 hover-bg-light-gray overflow-hidden" title="{{ .PrevInSection.Title }}">
              {{ partial "svg/ic_chevron_right_black_24px.svg" (dict "fill" "#0594CB" "size" "30px") }}<br/>
              <span>{{ .PrevInSection.Title }}</span>
              </a>
            {{end}}

            {{if .NextInSection}}
              <a href="{{.NextInSection.Permalink }}" class="fl w-50 dib f6 pa2 pl1 hover-bg-light-gray overflow-hidden" title="{{ .NextInSection.Title }} ">
                {{ partial "svg/ic_chevron_left_black_24px.svg" (dict "fill" "#0594CB" "size" "30px") }}<br/>
                <span>{{ .NextInSection.Title }}</span>
              </a>
            {{end}}
          </div>
          {{- end -}}
          <div class="clear-fix"></div>
          {{ if not .Params.notoc }}
            <p class="mt-2 b clear-fix">Contents</p>
            {{ .TableOfContents }}
          {{ end }}
          
          <p class="b">Comments</p>
          <a href="#comments" class="dib f6 pr1 hover-bg-light-gray br-100" title="Comments">
              {{- with $comments -}}
                {{- if eq 1 (len .) -}}
                  1 comment
                {{- else -}}
                  {{- len . -}}&nbsp;comments
                {{- end -}}
              {{- else -}}
                0 comments
              {{- end -}}
          </a>

        </aside>
      </div>

      <div class="order-1 w-60-l ph0 ph5-ns mid-gray nested-copy-line-height no-underline nested-copy-seperator nested-blockquote mt0-ns" style="flex-grow:1;">

        {{if ne .Section "blog" }}
          {{ partial "breadcrumbs.html" . }}
        {{ end }}

        <div class="documentation-copy">
          <div id="readout" class="fixed right-0 bottom-0"></div>
          
          <header class="flex-none w-100">
            
            <h1 class="lh-title mb3 mv0 pt3 primary-color-dark">
              {{- if eq .Section "functions" -}}
                {{ .LinkTitle }}
              {{- else -}}
                {{ .Title }}
              {{- end -}}
            </h1>

            {{if .IsPage}}<aside class="fr f6 mid-gray dim ml3">{{ .ReadingTime }} min read</aside>{{end}}

            <date class="f6 db mb1" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .Date.Format "January 2, 2006" }}
            </date>

            {{if ne .Date .Lastmod }}
            <date class="f6 db mb1 fr" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
              Edited {{ .Lastmod.Format "January 2, 2006" }}
            </date>
            {{end}}

            {{ if .Params.categories }}
              {{ range .Params.categories }}
                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="f6 mb0 mt2 ph2 pv0 link dim mr2 ba pill">
                  {{ humanize . | lower }}
                </a>
              {{ end }}
            {{end}}

          </header>
          
          <aside class="clear-fix bt bw1 pt3 mt2 mid-gray b--mid-gray fn w-100 nested-links">
            {{ with .Params.description }}
              <div class="f4 fw4 lh-copy">
                {{ . | markdownify }}
              </div>
            {{ end }}
          </aside>
          
          {{ with .Params.featured_image_path }}
            <img src="{{ . }}" alt="Featured Image for {{ $.Title }}" class="mw-100">
          {{ end }}
          
          <div class="prose nested-links" id="prose">
            {{ .Content }}
          </div>

          <div class="prose nested-links clear-fix bt bw1" id="comments">
            <aside class="pt3 mt2 mid-gray b--mid-gray fn w-100 nested-links">
              <h1>Comments</h1>
            </aside>
            {{ with $comments }}
              {{ partial "comments.html" (dict "comments" . "depth" 1 "parent" 0) }}
            {{ end }}
            <aside class="pt3 mt2 mid-gray b--mid-gray fn measure nested-links">
              <h1>Post a comment</h1>
              <article class="black-80">
                <form class="black-80" action="/api/PostComment" method="post" accept-charset="utf-8">
                  <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
                    <legend class="ph0 mh0 fw6 clip">Post a comment</legend>
                    <div class="mt1">
                      <label class="db b lh-copy f6" for="name">Your name</label>
                      <input class="b pa2 input-reset ba" type="text" name="name"  id="name" autocomplete="on" required>
                    </div>
                    <div class="mt3">
                      <label class="db b lh-copy f6" for="email-address">Your email <span class="normal black-60">(optional)</span></label>
                      <input class="pa2 input-reset ba w-100 measure" type="email" name="email" id="email" aria-describedby="email-description" autocomplete="on">
                      <small id="email-description" class="f6 black-60">Your email is confidential and won't be displayed.</small>
                    </div>
                    <div class="mt3 dn">
                      <label class="db b lh-copy f6 dn" for="subject">Subject</label>
                      <input class="b pa2 input-reset ba dn" type="text" name="subject"  id="subject">
                    </div>
                    <div>
                      <label for="comment" class="f6 b db mt2">Comment</label>
                      <textarea id="comment" name="comment" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2" 
                        aria-describedby="comment-desc" spellcheck="on" required rows="10"></textarea>
                      <small id="comment-desc" class="f6 black-60">This comment will be checked for spam, and enter a moderation queue.</small>
                    </div>
                  </fieldset>
                  <div class="mt3"><input class="b ph3 pv2 input-reset ba b--black grow pointer f6" type="submit" value="Post"></div>
                </form>
              </article>
            </aside>
          </div>
        </div>
      </div>

      {{if ne .Section "blog" }}
        {{ partial "wiki-nav.html" . }}
      {{ end }}
    </div>
  </article>

{{ end }}