{{ $comments := .comments }}
{{ $depth := .depth }}
{{ $parent := .parent }}
{{ with .comments }}
<ol class="comments list {{ if eq $depth 1 }}pl0{{end}}">
  {{ range where $comments "replyTo" $parent }}
    <li>
        <article class="comment depth-{{ $depth }}">
          <div class="br3 pa3 mv3 nested-links shadow-1">
            {{ with .email }}<img src="https://www.gravatar.com/avatar/{{ md5 . }}?s=56&d=identicon" class="br-100 ba dib fl mr3" alt="avatar">{{ end }}
            <cite class="">{{ .name | safeHTML }}</cite>
            <div>{{ dateFormat "January 2, 2006" .date }} at {{ dateFormat ":time_short" .date }}</div>
            <p class="">{{ .content | markdownify }}</p>
          </div>
        </article>
        {{- $children := len (where $comments "replyTo" (string .id)) -}}
        {{ if gt $children 0 }}
        {{ partial "comments.html" (dict "comments" $comments "depth" (add $depth 1) "parent" .id ) }}
        {{ end }}
      </li>
  {{ end }}
</ol>
{{ end }}