{{ define "header" }}
    
{{ end }}

{{ define "main" }}
  {{ $interior_classes := .Site.Params.flex_box_interior_classes }}
  <section class="w-100 ph4 ph5-ns pv4">
    
    <div class="cf">
      
      <div class="fl w-100"></div>
        <h1>Projects</h1>
        <div class="flex flex-wrap">
          <section class="flex-ns flex-wrap justify-between w-100">
            {{ range .Site.Data.projects.project }}
              <div class="relative flex-auto w-100 w-40-l mr3 mb3 bg-white ba b--moon-gray nested-copy-line-height weight-{{ .Weight }}">
                <div class="bg-white mb2 pa3 pa4-l gray">              
                  <date class="f6 db" datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}">{{ dateFormat "January 2, 2006" .Date }}</date>
                  <h1 class="near-black f3">
                    <a href="{{ .Permalink }}" class="link primary-color dim" target="_blank">{{ .Title }}<span class="pl1">{{ partial "svg/link-ext.svg" (dict "size" "10") }}</span></a>
                  </h1>
                  <div class="lh-copy links">{{ .Description | markdownify }}</div>
                </div>
              </div>
            {{ end }}
          </section>
        </div>
      </div>

      <div class="fl w-100">
        <h1>Recent Updates</h1>
        <div class="flex flex-wrap">          
          <section class="flex-ns flex-wrap justify-between w-100">
            {{ range (first 10 .Site.RegularPages.ByLastmod) }}
              <div class="relative flex-auto w-100 w-40-l mr3 mb3 bg-white ba b--moon-gray nested-copy-line-height weight-{{ .Weight }}">
                <div class="bg-white mb2 pa3 pa4-l gray">              
                  <date class="f6 db" datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}">
                    {{ dateFormat "January 2, 2006" .Lastmod }}
                  </date>
    
                  <h1 class="near-black f3">
                    <a href="{{ .Permalink }}" class="link primary-color dim">{{ .Title }}</a>
                  </h1>
              
                  <div class="lh-copy links">
                      {{ .Description | markdownify }}
                      <a href="{{ .Permalink }}" class="f6 mt2 db link primary-color dim">Read More &raquo;</a>
                  </div>
                </div>
              </div>
            {{ end }}
          </section>
        </div>
      </div>
    </div>
  </section>

{{ end }}