{{- $apiUri :=  delimit (slice "https://api.github.com/gists/" (.Get 0)) "" -}}
{{- $file := .Get 1 -}}
{{- $payload := getJSON $apiUri -}}
{{- range $payload.files -}}
	{{- if or (not $file) (eq $file .filename ) -}}
	<div class="gist">
		{{ highlight .content .language "guessSyntax=true" }}
		<footer><a href="{{ $payload.html_url }}#file-{{ replace .filename "." "-" | lower }}">{{ .filename }}</a> from <a href="{{ $payload.html_url }}">gist by {{ $payload.owner.login }}</a></footer>
	</div>
	{{- end -}}
{{- end -}}